/* @import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus {
  outline-color: #942121;
}
body {
  /* font-family: "Creepster", cursive; */
  color: #3c474b;
  font-family: "Nosifer", cursive;
  background: linear-gradient(to right bottom, #e7e7e7, #b7b7b7);
  /* background: linear-gradient(to right top, #63b7af, #4f928c); */
  /* background: linear-gradient(to right top, #7858a6, #5b4b8a); */
  text-align: center;
  /* background-color: #e7e7e7; */
  min-height: 100vh;
  padding: 60px;
}
.app-title {
  color: #942121;

  font-size: 2.4rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3c474b;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #494368;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #494368;
}
